# Smoke-Test Dataset for Binary Classification

This synthetic dataset presents a classification problem based on two types of features and a binary target. Each sample in the dataset has a unique identifier, a set of two features (color, number), and a target class label.

The first feature 'color' is a categorical feature, with three possible values: Red, Green, and Blue. These values are evenly and randomly distributed across the dataset.

The second feature 'number' is a continuous feature, with values drawn from a uniform distribution between 1 and 100 inclusive. Each feature value is independent of the others. 

The class label for each sample is determined by the combination of both the categorical and numerical features. If the color is 'Red' and the number is greater than 50, the sample is labeled as Class 1, otherwise, it is labeled as Class 0. This forms a classification problem, where the task is to classify samples based on the combination of their color and number features.

The identifiers for the samples are randomly generated alphanumeric strings. They are used to uniquely identify each sample in the dataset.

Additionally, to add complexity to the dataset, approximately 10% of the data points in each feature are replaced with missing values. Furthermore, the first row always contains a missing value in either of the two features randomly, to ensure the presence of missing data even for smaller datasets.

In summary, this dataset presents a binary classification problem, where the task is to classify samples based on the combination of a categorical and numerical feature, while also dealing with missing data. The relationship between the features and target is known, however, the presence of missing values introduces complexity and makes it a challenging task for binary classification algorithms.

In [10]:
import numpy as np
import pandas as pd
import os
import sys
import random
import string

In [11]:
dataset_name = "smoke_test_bc"

In [12]:
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Generation functions

In [13]:
def set_seed(seed_value=0):
    np.random.seed(seed_value)
    random.seed(seed_value)

In [14]:
def generate_id(size=6, chars=string.ascii_uppercase + string.digits):
    return ''.join(random.choice(chars) for _ in range(size))

In [15]:
def create_dataset(num_rows, seed_value=42):
    set_seed(seed_value)
    # Generating unique ids
    ids = [generate_id() for _ in range(num_rows)]

    # Generating categorical feature with 3 categories
    colors = np.random.choice(['Red', 'Green', 'Blue'], size=num_rows)

    # Generating numeric feature from 1 to 100
    numbers = np.random.choice(list(range(1, 101)), size=num_rows)

    # Creating target based on rules (color is Red and number > 50)
    target = [(color == 'Red' and number > 50) for color, number in zip(colors, numbers)]
    target = np.where(target, 1, 0)  # Converting to binary

    # Create DataFrame
    df = pd.DataFrame({'id': ids, 'color': colors, 'number': numbers, 'target': target})

    # Introduce missing values by setting 10% of each feature to NaN
    for column in ['color', 'number']:
        missing_rows = np.random.choice(df.index, size=int(num_rows * 0.1), replace=False)
        df.loc[missing_rows, column] = np.nan

    # Make sure the first row has a null value in either of the two features
    first_missing_feature = np.random.choice(['color', 'number'])
    df.loc[0, first_missing_feature] = np.nan

    return df

# Create Data

In [16]:
set_seed(seed_value=1)
data = create_dataset(200)
data.head()

       id color  number  target
0  HBRPOI   NaN    52.0       0
1  G8F1CB   Red     NaN       1
2  FNO6B9  Blue    58.0       0
3  M80O2R  Blue     NaN       0
4  AK1VRJ   Red    12.0       0

# Save Main Data File

In [17]:
data.to_csv(outp_fname, index=False, float_format="%.4f")

In [18]:
data.shape

(200, 4)