In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
dataset_name = 'chess'

In [3]:
input_dir = './raw/'
inp_fname = 'chess.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

## Read Data

In [4]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

,White_king_col,White_king_row,White_rook_col,White_rook_row,Black_king_col,Black_king_row,Class
0,c,1,a,3,a,1,positive
1,c,1,a,4,a,1,positive
2,c,1,a,5,a,1,positive
3,c,1,a,6,a,1,positive
4,c,1,a,7,a,1,positive

In [5]:
id_col = "id"
target_col = "Class"

## Insert Id Column

In [6]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())

   id White_king_col  White_king_row White_rook_col  White_rook_row  \
0   0              c               1              a               3
1   1              c               1              a               4
2   2              c               1              a               5
3   3              c               1              a               6
4   4              c               1              a               7

  Black_king_col  Black_king_row     Class
0              a               1  positive
1              a               1  positive
2              a               1  positive
3              a               1  positive
4              a               1  positive

## Convert byte strings to strings

In [7]:
byte_string_columns = data.select_dtypes(include=['O']).columns
byte_string_columns.tolist()

['White_king_col', 'White_rook_col', 'Black_king_col', 'Class']

In [8]:
import ast
def convert_byte_string_repr(entry):
    try:
        # Check if the entry looks like a byte string representation
        if isinstance(entry, str) and entry.startswith("b'") and entry.endswith("'"):
            byte_value = ast.literal_eval(entry)
            return byte_value.decode('utf-8')
    except (ValueError, SyntaxError):
        pass
    return entry  # Return the original entry if conversion fails

data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)
data.head()

/var/folders/9w/n2qss88d6gvcbnpm21nhr75w0000gp/T/ipykernel_98056/1306460321.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)

,id,White_king_col,White_king_row,White_rook_col,White_rook_row,Black_king_col,Black_king_row,Class
0,0,c,1,a,3,a,1,positive
1,1,c,1,a,4,a,1,positive
2,2,c,1,a,5,a,1,positive
3,3,c,1,a,6,a,1,positive
4,4,c,1,a,7,a,1,positive

## Drop unuseful columns

In [9]:
unique_columns = [col for col in data.columns if data[col].nunique() == 1]
print(unique_columns)

data.drop(columns=unique_columns, inplace=True)

[]

## Convert ? to NaN

In [10]:
data.replace('?', np.nan, inplace=True)

## Save Main Data File

In [11]:
data.to_csv(outp_fname, index=False)