In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
dataset_name = 'seismic-bumps'

In [3]:
input_dir = './raw/'
inp_fname = 'seismic-bumps.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

## Read Data

In [4]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

,seismic,seismoacoustic,shift,genergy,gpuls,gdenergy,gdpuls,ghazard,nbumps,nbumps2,nbumps3,nbumps4,nbumps5,nbumps6,nbumps7,nbumps89,energy,maxenergy,class
0,b'a',b'a',b'N',15180.0,48.0,-72.0,-72.0,b'a',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'
1,b'a',b'a',b'N',14720.0,33.0,-70.0,-79.0,b'a',1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2000.0,2000.0,b'0'
2,b'a',b'a',b'N',8050.0,30.0,-81.0,-78.0,b'a',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'
3,b'a',b'a',b'N',28820.0,171.0,-23.0,40.0,b'a',1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3000.0,3000.0,b'0'
4,b'a',b'a',b'N',12640.0,57.0,-63.0,-52.0,b'a',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'

In [5]:
id_col = "id"
target_col = "class"

## Insert Id Column

In [6]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())

   id seismic seismoacoustic shift  genergy  gpuls  gdenergy  gdpuls ghazard  \
0   0    b'a'           b'a'  b'N'  15180.0   48.0     -72.0   -72.0    b'a'
1   1    b'a'           b'a'  b'N'  14720.0   33.0     -70.0   -79.0    b'a'
2   2    b'a'           b'a'  b'N'   8050.0   30.0     -81.0   -78.0    b'a'
3   3    b'a'           b'a'  b'N'  28820.0  171.0     -23.0    40.0    b'a'
4   4    b'a'           b'a'  b'N'  12640.0   57.0     -63.0   -52.0    b'a'

   nbumps  nbumps2  nbumps3  nbumps4  nbumps5  nbumps6  nbumps7  nbumps89  \
0     0.0      0.0      0.0      0.0      0.0      0.0      0.0       0.0
1     1.0      0.0      1.0      0.0      0.0      0.0      0.0       0.0
2     0.0      0.0      0.0      0.0      0.0      0.0      0.0       0.0
3     1.0      0.0      1.0      0.0      0.0      0.0      0.0       0.0
4     0.0      0.0      0.0      0.0      0.0      0.0      0.0       0.0

   energy  maxenergy class
0     0.0        0.0  b'0'
1  2000.0     2000.0  b'0'
2     0.0        0.0  b'0'
3  3000.0     3000.0  b'0'
4     0.0        0.0  b'0'

## Convert byte strings to strings

In [7]:
byte_string_columns = data.select_dtypes(include=['O']).columns
byte_string_columns.tolist()

['seismic', 'seismoacoustic', 'shift', 'ghazard', 'class']

In [8]:
import ast
def convert_byte_string_repr(entry):
    try:
        # Check if the entry looks like a byte string representation
        if isinstance(entry, str) and entry.startswith("b'") and entry.endswith("'"):
            byte_value = ast.literal_eval(entry)
            return byte_value.decode('utf-8')
    except (ValueError, SyntaxError):
        pass
    return entry  # Return the original entry if conversion fails

data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)
data.head()

,id,seismic,seismoacoustic,shift,genergy,gpuls,gdenergy,gdpuls,ghazard,nbumps,nbumps2,nbumps3,nbumps4,nbumps5,nbumps6,nbumps7,nbumps89,energy,maxenergy,class
0,0,a,a,N,15180.0,48.0,-72.0,-72.0,a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,1,a,a,N,14720.0,33.0,-70.0,-79.0,a,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2000.0,2000.0,0
2,2,a,a,N,8050.0,30.0,-81.0,-78.0,a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,3,a,a,N,28820.0,171.0,-23.0,40.0,a,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3000.0,3000.0,0
4,4,a,a,N,12640.0,57.0,-63.0,-52.0,a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

## Drop unuseful columns

In [9]:
unique_columns = [col for col in data.columns if data[col].nunique() == 1]
print(unique_columns)

data.drop(columns=unique_columns, inplace=True)

['nbumps6', 'nbumps7', 'nbumps89']

## Save Main Data File

In [11]:
data.to_csv(outp_fname, index=False)