In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
dataset_name = 'employee_attrition'

In [3]:
input_dir = './raw'
inp_fname = 'employee_attrition.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [4]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,department,salary,left
0,0.38,0.53,2,157,3,0,0,sales,low,1
1,0.80,0.86,5,262,6,0,0,sales,medium,1
2,0.11,0.88,7,272,4,0,0,sales,medium,1
3,0.72,0.87,5,223,5,0,0,sales,low,1
4,0.37,0.52,2,159,3,0,0,sales,low,1

In [5]:
id_col = "id"
target_col = "left"

# Insert Id Column

In [6]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())

data[id_col] = data[id_col].astype(str)

   id  satisfaction_level  last_evaluation  number_project  \
0   0                0.38             0.53               2
1   1                0.80             0.86               5
2   2                0.11             0.88               7
3   3                0.72             0.87               5
4   4                0.37             0.52               2

   average_montly_hours  time_spend_company  Work_accident  \
0                   157                   3              0
1                   262                   6              0
2                   272                   4              0
3                   223                   5              0
4                   159                   3              0

   promotion_last_5years department  salary  left
0                      0      sales     low     1
1                      0      sales  medium     1
2                      0      sales  medium     1
3                      0      sales     low     1
4                      0      sales     low     1

# Save Main Data File

In [7]:
data.to_csv(outp_fname, index=False)