In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
dataset_name = 'page_blocks'

In [3]:
input_dir = './raw/'
inp_fname = 'page_blocks.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

## Read Data

In [4]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

,Height,Lenght,Area,Eccen,P_black,P_and,Mean_tr,Blackpix,Blackand,Wb_trans,Class
0,5,7,35.0,1.400,0.400,0.657,2.33,14,23,6,negative
1,6,7,42.0,1.167,0.429,0.881,3.60,18,37,5,negative
2,6,18,108.0,3.000,0.287,0.741,4.43,31,80,7,negative
3,5,7,35.0,1.400,0.371,0.743,4.33,13,26,3,negative
4,6,3,18.0,500.000,0.500,0.944,2.25,9,17,4,negative

In [5]:
id_col = "id"
target_col = "Class"

## Insert Id Column

In [6]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())

   id  Height  Lenght   Area    Eccen  P_black  P_and  Mean_tr  Blackpix  \
0   0       5       7   35.0    1.400    0.400  0.657     2.33        14
1   1       6       7   42.0    1.167    0.429  0.881     3.60        18
2   2       6      18  108.0    3.000    0.287  0.741     4.43        31
3   3       5       7   35.0    1.400    0.371  0.743     4.33        13
4   4       6       3   18.0  500.000    0.500  0.944     2.25         9

   Blackand  Wb_trans      Class
0        23         6   negative
1        37         5   negative
2        80         7   negative
3        26         3   negative
4        17         4   negative

## Convert byte strings to strings

In [7]:
byte_string_columns = data.select_dtypes(include=['O']).columns
byte_string_columns.tolist()

['Class']

In [8]:
import ast
def convert_byte_string_repr(entry):
    try:
        # Check if the entry looks like a byte string representation
        if isinstance(entry, str) and entry.startswith("b'") and entry.endswith("'"):
            byte_value = ast.literal_eval(entry)
            return byte_value.decode('utf-8')
    except (ValueError, SyntaxError):
        pass
    return entry  # Return the original entry if conversion fails

data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)
data.head()

/var/folders/9w/n2qss88d6gvcbnpm21nhr75w0000gp/T/ipykernel_98806/1306460321.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)

,id,Height,Lenght,Area,Eccen,P_black,P_and,Mean_tr,Blackpix,Blackand,Wb_trans,Class
0,0,5,7,35.0,1.400,0.400,0.657,2.33,14,23,6,negative
1,1,6,7,42.0,1.167,0.429,0.881,3.60,18,37,5,negative
2,2,6,18,108.0,3.000,0.287,0.741,4.43,31,80,7,negative
3,3,5,7,35.0,1.400,0.371,0.743,4.33,13,26,3,negative
4,4,6,3,18.0,500.000,0.500,0.944,2.25,9,17,4,negative

## Drop unuseful columns

In [9]:
unique_columns = [col for col in data.columns if data[col].nunique() == 1]
print(unique_columns)

data.drop(columns=unique_columns, inplace=True)

[]

## Convert ? to NaN

In [10]:
data.replace('?', np.nan, inplace=True)

## Save Main Data File

In [11]:
data.to_csv(outp_fname, index=False)