In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
dataset_name = 'shuttle'

In [4]:
input_dir = './raw/'
inp_fname = 'shuttle.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

## Read Data

In [5]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

   A1  A2  A3  A4  A5  A6  A7  A8  A9     Class
0  49   0  79   0  46  -5  30  32   2  negative
1  41   1  86   3  42   6  45  45   0  negative
2  50  -4  83   0  50   0  33  34   2  negative
3  48   1  81  -1  46   0  33  34   2  negative
4  45   0  86   0  44 -10  41  42   2  negative

In [6]:
id_col = "id"
target_col = "Class"

## Insert Id Column

In [7]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())

   id  A1  A2  A3  A4  A5  A6  A7  A8  A9     Class
0   0  49   0  79   0  46  -5  30  32   2  negative
1   1  41   1  86   3  42   6  45  45   0  negative
2   2  50  -4  83   0  50   0  33  34   2  negative
3   3  48   1  81  -1  46   0  33  34   2  negative
4   4  45   0  86   0  44 -10  41  42   2  negative

## Convert byte strings to strings

In [8]:
byte_string_columns = data.select_dtypes(include=['O']).columns
byte_string_columns.tolist()

['Class']

In [9]:
import ast
def convert_byte_string_repr(entry):
    try:
        # Check if the entry looks like a byte string representation
        if isinstance(entry, str) and entry.startswith("b'") and entry.endswith("'"):
            byte_value = ast.literal_eval(entry)
            return byte_value.decode('utf-8')
    except (ValueError, SyntaxError):
        pass
    return entry  # Return the original entry if conversion fails

data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)
data.head()

/var/folders/9w/n2qss88d6gvcbnpm21nhr75w0000gp/T/ipykernel_99149/1306460321.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)

   id  A1  A2  A3  A4  A5  A6  A7  A8  A9     Class
0   0  49   0  79   0  46  -5  30  32   2  negative
1   1  41   1  86   3  42   6  45  45   0  negative
2   2  50  -4  83   0  50   0  33  34   2  negative
3   3  48   1  81  -1  46   0  33  34   2  negative
4   4  45   0  86   0  44 -10  41  42   2  negative

## Drop unuseful columns

In [10]:
unique_columns = [col for col in data.columns if data[col].nunique() == 1]
print(unique_columns)

data.drop(columns=unique_columns, inplace=True)

[]

## Convert ? to NaN

In [11]:
data.replace('?', np.nan, inplace=True)

## Save Main Data File

In [12]:
data.to_csv(outp_fname, index=False)