In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
dataset_name = 'Wilt'

In [3]:
input_dir = './raw/'
inp_fname = 'Wilt.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

## Read Data

In [4]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

     GLCM_Pan      Mean_G      Mean_R    Mean_NIR    SD_Plan class
0  120.362774  205.500000  119.395349  416.581395  20.676318  b'2'
1  124.739583  202.800000  115.333333  354.333333  16.707151  b'2'
2  134.691964  199.285714  116.857143  477.857143  22.496712  b'2'
3  127.946309  178.368421   92.368421  278.473684  14.977453  b'2'
4  135.431548  197.000000  112.690476  532.952381  17.604193  b'2'

In [5]:
id_col = "id"
target_col = "class"

## Insert Id Column

In [6]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())

   id    GLCM_Pan      Mean_G      Mean_R    Mean_NIR    SD_Plan class
0   0  120.362774  205.500000  119.395349  416.581395  20.676318  b'2'
1   1  124.739583  202.800000  115.333333  354.333333  16.707151  b'2'
2   2  134.691964  199.285714  116.857143  477.857143  22.496712  b'2'
3   3  127.946309  178.368421   92.368421  278.473684  14.977453  b'2'
4   4  135.431548  197.000000  112.690476  532.952381  17.604193  b'2'

## Convert byte strings to strings

In [7]:
byte_string_columns = data.select_dtypes(include=['O']).columns
byte_string_columns.tolist()

['class']

In [8]:
import ast
def convert_byte_string_repr(entry):
    try:
        # Check if the entry looks like a byte string representation
        if isinstance(entry, str) and entry.startswith("b'") and entry.endswith("'"):
            byte_value = ast.literal_eval(entry)
            return byte_value.decode('utf-8')
    except (ValueError, SyntaxError):
        pass
    return entry  # Return the original entry if conversion fails

data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)
data.head()

   id    GLCM_Pan      Mean_G      Mean_R    Mean_NIR    SD_Plan class
0   0  120.362774  205.500000  119.395349  416.581395  20.676318     2
1   1  124.739583  202.800000  115.333333  354.333333  16.707151     2
2   2  134.691964  199.285714  116.857143  477.857143  22.496712     2
3   3  127.946309  178.368421   92.368421  278.473684  14.977453     2
4   4  135.431548  197.000000  112.690476  532.952381  17.604193     2

## Drop unuseful columns

In [9]:
unique_columns = [col for col in data.columns if data[col].nunique() == 1]
print(unique_columns)

data.drop(columns=unique_columns, inplace=True)

[]

## Save Main Data File

In [10]:
data.to_csv(outp_fname, index=False)