In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
dataset_name = 'electrical_grid'

In [3]:
input_dir = './raw'
inp_fname = 'electrical_grid.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [4]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [5]:
id_col = "id"
target_col = "stabf"

# Insert Id Column

In [6]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())

data[id_col] = data[id_col].astype(str)

   id      tau1      tau2      tau3      tau4        p1        p2        p3  \
0   0  2.959060  3.079885  8.381025  9.780754  3.763085 -0.782604 -1.257395
1   1  9.304097  4.902524  3.047541  1.369357  5.067812 -1.940058 -1.872742
2   2  8.971707  8.848428  3.046479  1.214518  3.405158 -1.207456 -1.277210
3   3  0.716415  7.669600  4.486641  2.340563  3.963791 -1.027473 -1.938944
4   4  3.134112  7.608772  4.943759  9.857573  3.525811 -1.125531 -1.845975

         p4        g1        g2        g3        g4     stabf
0 -1.723086  0.650456  0.859578  0.887445  0.958034  unstable
1 -1.255012  0.413441  0.862414  0.562139  0.781760    stable
2 -0.920492  0.163041  0.766689  0.839444  0.109853  unstable
3 -0.997374  0.446209  0.976744  0.929381  0.362718  unstable
4 -0.554305  0.797110  0.455450  0.656947  0.820923  unstable

# Save Main Data File

In [7]:
data.to_csv(outp_fname, index=False)