In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
dataset_name = 'graduation'

In [3]:
input_dir = './raw/'
inp_fname = 'graduation.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

## Read Data

In [4]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

    ip1   ip2   ip3   ip4  tepat
0  2.30  1.97  1.80  1.56  Tidak
1  1.81  1.68  1.57  1.86  Tidak
2  3.07  3.00  2.75  3.21  Tidak
3  2.71  2.33  2.61  1.98  Tidak
4  3.17  3.02  3.28  2.96  Tidak

In [5]:
id_col = "id"
target_col = "tepat"

## Insert Id Column

In [6]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())

   id   ip1   ip2   ip3   ip4  tepat
0   0  2.30  1.97  1.80  1.56  Tidak
1   1  1.81  1.68  1.57  1.86  Tidak
2   2  3.07  3.00  2.75  3.21  Tidak
3   3  2.71  2.33  2.61  1.98  Tidak
4   4  3.17  3.02  3.28  2.96  Tidak

## Convert byte strings to strings

In [7]:
byte_string_columns = data.select_dtypes(include=['O']).columns
byte_string_columns.tolist()

['tepat']

In [8]:
import ast
def convert_byte_string_repr(entry):
    try:
        # Check if the entry looks like a byte string representation
        if isinstance(entry, str) and entry.startswith("b'") and entry.endswith("'"):
            byte_value = ast.literal_eval(entry)
            return byte_value.decode('utf-8')
    except (ValueError, SyntaxError):
        pass
    return entry  # Return the original entry if conversion fails

data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)
data.head()

/var/folders/9w/n2qss88d6gvcbnpm21nhr75w0000gp/T/ipykernel_14017/1306460321.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)

   id   ip1   ip2   ip3   ip4  tepat
0   0  2.30  1.97  1.80  1.56  Tidak
1   1  1.81  1.68  1.57  1.86  Tidak
2   2  3.07  3.00  2.75  3.21  Tidak
3   3  2.71  2.33  2.61  1.98  Tidak
4   4  3.17  3.02  3.28  2.96  Tidak

## Drop unuseful columns

In [9]:
unique_columns = [col for col in data.columns if data[col].nunique() == 1]
print(unique_columns)

data.drop(columns=unique_columns, inplace=True)

[]

## Convert ? to NaN

In [10]:
data.replace('?', np.nan, inplace=True)

## Save Main Data File

In [11]:
data.to_csv(outp_fname, index=False)