In [17]:
import numpy as np
import pandas as pd
import os

In [18]:
dataset_name = 'car_good'

In [19]:
input_dir = './raw/'
inp_fname = 'car_good.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

## Read Data

In [20]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

  Buying  Maint Doors Persons Lug_boot Safety     Class
0  vhigh  vhigh     2       2    small    low  negative
1  vhigh  vhigh     2       2    small    med  negative
2  vhigh  vhigh     2       2    small   high  negative
3  vhigh  vhigh     2       2      med    low  negative
4  vhigh  vhigh     2       2      med    med  negative

In [21]:
id_col = "id"
target_col = "target"

## Insert Id Column

In [22]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())

   id Buying  Maint Doors Persons Lug_boot Safety     Class
0   0  vhigh  vhigh     2       2    small    low  negative
1   1  vhigh  vhigh     2       2    small    med  negative
2   2  vhigh  vhigh     2       2    small   high  negative
3   3  vhigh  vhigh     2       2      med    low  negative
4   4  vhigh  vhigh     2       2      med    med  negative

## Convert byte strings to strings

In [23]:
byte_string_columns = data.select_dtypes(include=['O']).columns
byte_string_columns.tolist()

['Buying', 'Maint', 'Doors', 'Persons', 'Lug_boot', 'Safety', 'Class']

In [24]:
import ast
def convert_byte_string_repr(entry):
    try:
        # Check if the entry looks like a byte string representation
        if isinstance(entry, str) and entry.startswith("b'") and entry.endswith("'"):
            byte_value = ast.literal_eval(entry)
            return byte_value.decode('utf-8')
    except (ValueError, SyntaxError):
        pass
    return entry  # Return the original entry if conversion fails

data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)
data.head()

/var/folders/9w/n2qss88d6gvcbnpm21nhr75w0000gp/T/ipykernel_97951/1306460321.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data[byte_string_columns] = data[byte_string_columns].applymap(convert_byte_string_repr).astype(str)

   id Buying  Maint Doors Persons Lug_boot Safety     Class
0   0  vhigh  vhigh     2       2    small    low  negative
1   1  vhigh  vhigh     2       2    small    med  negative
2   2  vhigh  vhigh     2       2    small   high  negative
3   3  vhigh  vhigh     2       2      med    low  negative
4   4  vhigh  vhigh     2       2      med    med  negative

## Drop unuseful columns

In [25]:
unique_columns = [col for col in data.columns if data[col].nunique() == 1]
print(unique_columns)

data.drop(columns=unique_columns, inplace=True)

[]

## Convert ? to NaN

In [26]:
data.replace('?', np.nan, inplace=True)

## Save Main Data File

In [27]:
data.to_csv(outp_fname, index=False)